<form class="form-inline" action="/search">
    <input class="form-control mt-3 mb-3" name="q" type="text" placeholder="Search...">
    <button class="btn btn-outline-primary width: 20px" type="submit">Search</button>
</form>