<div class="row pt-3 pb-3">

  <div class="col-3 mt-2">
    <%= render partial: "articles/find" %>
  </div>

  <div class="col-9">
    <div class="h5">Timeline <%= link_to "New Article", new_article_path, class: "btn btn-primary" %></div>
    <% if @articles.size > 0 %>
      <%= render partial: "articles/list", locals: { articles: @articles } %>
    <% else %>
      <div class="col-sm-8">
        <div class="alert alert-warning text-center" role="alert">
          No articles at the moment!
        </div>
      </div>
    <% end %>
  </div>

</div>